@import "tailwindcss";
html{
  box-sizing: border-box;
  
}
/* *{
   border: 1px red solid;
} */

@theme{
  --color-main: #000000;
  --color-secondary: #EEEEEE;
  --color-third: #272727;
  --color-accent: #CF0A0A;
}

